<footer class="footer" id="contacto">
  <div class="container">
    <div class="info">
      <div class="info2">
        <a href="https://github.com/Lauramg21" target="_blank">
          <img class="logo" src="assets/img/github.png" alt="GitHub" />
          Lauramg21
        </a>
      </div>
      <div class="info2">
        <a href="mailto:lauralmg2004@gmail.com">
          <img class="logo" src="assets/img/gmail.png" alt="Gmail" />
          lauralmg2004&#64;gmail.com
        </a>
      </div>
    </div>
    <p>© 2025 Club Deportivo. Laura Morales González.</p>
  </div>
</footer>
