.container-login {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.card-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 20px;
  padding: 40px;
}

.form-group {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}
