.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  background-color: #d3d3d36d;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  justify-content: flex-end;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

/* Logo */
.logo {
  margin-right: 20px;
  height: 30px;
  width: 30px;
  transition: all 0.3s ease;
}

/* Enlaces del menú */
.nav-links {
  font-size: 1.2rem;
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav-links li a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
}

.navbar .nav-links li a:hover {
  color: var(--hover-color);
}

/* Perfil de usuario */
.user-profile {
  position: relative;
}

/* Estilos del dropdown */
.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  display: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
}

.dropdown button {
  background: none;
  border: none;
  color: var(--primary-color);
  font-size: 1rem;
  cursor: pointer;
  width: 70px;
  text-align: left;
}

.dropdown button:hover {
  color: var(--hover-color);
}

/* Muestra el dropdown cuando se activa */
.user-profile .dropdown {
  display: block;
}

/* Media Query para pantallas móviles */
@media (max-width: 767px) {
  .navbar {
    flex-direction: column;
    align-items: flex-end; /* Alineación a la derecha */
    justify-content: center;
  }

  .nav-links {
    display: flex;
    justify-content: flex-end; /* Alineación a la derecha */
    font-size: 1rem;
    gap: 1rem;
    width: 100%;
    margin-top: 10px;
  }

  .user-profile {
    margin-top: 10px;
  }
}
